@font-face {
  font-family: 'Pixeboy';
  src: url('../public/Pixeboy.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Pixeboy';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Pixeboy'
}

.mirrored-image {
  transform: scaleX(-1);
}


